.users {
  margin: 1rem auto;
  padding: 1rem;
  width: 95%;
  background: white;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

  .table{
    height: 61vh;
    overflow: auto;
    margin-top: 0.8rem;
  }
}
